.todo-header {
    text-align: center;
}
.todos {
    .add_wrap {
        margin-top: 20px;
        margin-bottom: 16px;
        padding: 0 16px;
        height: 80px;
        line-height: 80px;
        input {
            width: 400px;
            display: inline-block;
            padding-left: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    }
    .add {
        float: right;
        width: 160px;
        height: 80px;
        line-height: 80px;
        color: #fff;
        background-color: #1890ff;
        border-color: #1890ff;
        border: 1px solid transparent;
    }
}
.todos_item {
    border-bottom: 1px solid #ccc;
    margin: 8px 16px;
    padding: 0 8px;
    .del {
        float: right;
        display: inline-block;
    }
}